%h3 Listing comunes

%table
  %thead
    %tr
      %th Name
      %th Region
      %th
      %th
      %th

  %tbody
    - @comunes.each do |comune|
      %tr
        %td= comune.name
        %td= comune.region
        %td= link_to 'Mostrar', comune
        %td= link_to 'Editar', edit_comune_path(comune)
        %td= link_to 'Eliminar', comune, method: :delete, data: { confirm: 'Está seguro?' }

%br

= link_to 'New Comune', new_comune_path
