= form_for @client do |f|
  - if @client.errors.any?
    #error_explanation
      %h2= "#{pluralize(@client.errors.count, "error")} prohibited this client from being saved:"
      %ul
        - @client.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :social_reason, 'Razon social'
    = f.text_field :social_reason, class: 'form-control'
  .form-group
    = f.label :address, 'Direccion'
    = f.text_field :address, class: 'form-control'
  .form-group
    = f.label :giro, 'Giro'
    = f.text_field :giro, class: 'form-control'
  .form-group
    = f.label :comune, 'Comuna'
    = f.select :comune_id, options_for_select(Comune.all.collect{ |c| [c.name, c.id] }, @client.comune&.id), { include_blank: 'Seleccione...' }, { class: 'form-control' }
  .actions
    = f.submit 'Guardar', class: 'btn btn-warning'
    = link_to 'Volver', clients_path, class: 'btn btn-primary'

:javascript
  $(".new_client").on("submit", function(event){
    event.preventDefault();
    $.ajax({
      type: "POST",
      url: this.action,
      data: $(this).serialize(),
      success: function(response) {
        toastr.success('Cliente ingresado');
      },
      error: function(response){
        toastr.error('Ha ocurrido un error, revise los datos y vuelva a intentarlo');
      }
    });
  });