.card.m-4
  .card-header
    .card-title
      %h3.float-left Clientes
      .float-right
        = link_to 'Nuevo Cliente', new_client_path, class: 'btn btn-primary'
  .card-body
    %table.table.table-borderless
      %thead
        %tr
          %th Razon Social
          %th Direccion
          %th Giro
          %th Comuna
      %tbody
        - @clients.each do |client|
          %tr
            %td= client.social_reason
            %td= client.address
            %td= client.giro
            %td= client.comune.name
