.card.m-4
  .card-header
    .card-title
      %h3.float-left= "Cliente: " + @client.social_reason.to_s
%p#notice= notice

%p
  %b Social reason:
  = @client.social_reason
%p
  %b Address:
  = @client.address
%p
  %b Giro:
  = @client.giro
%p
  %b Comune:
  = @client.comune.name

= link_to 'Editar', edit_client_path(@client)
\|
= link_to 'Volver', clients_path
