%h3 Listing products

%table
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= link_to 'Mostrar', product
        %td= link_to 'Editar', edit_product_path(product)
        %td= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Está seguro?' }

%br

= link_to 'New Product', new_product_path
