= form_for @sale_executive do |f|
  - if @sale_executive.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sale_executive.errors.count, "error")} prohibited this sale_executive from being saved:"
      %ul
        - @sale_executive.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.text_field :password
  .actions
    = f.submit 'Save'
