= form_for @policy do |f|
  - if @policy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@policy.errors.count, "error")} prohibited this policy from being saved:"
      %ul
        - @policy.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :prime
    = f.text_field :prime
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :comision
    = f.text_field :comision
  .field
    = f.label :payment_type
    = f.text_field :payment_type
  .field
    = f.label :product
    = f.text_field :product
  .field
    = f.label :client
    = f.text_field :client
  .field
    = f.label :sale_executive
    = f.text_field :sale_executive
  .actions
    = f.submit 'Save'
