.card.m-4
  .card-header
    .card-title
      %h3.float-left Polizas Vendidas
      .float-right
        = link_to 'Vender póliza', new_policy_path, class: 'btn btn-primary'
  .card-body
    %table.table.table-borderless
      %thead
        %tr
          %th Cliente
          %th Producto
          %th Prima
          %th Comisión
          %th Tipo de pago
          %th Fecha de inicio
          %th Fecha de término
          %th Vendido por
      %tbody
        - @policies.each do |policy|
          %tr
            %td= policy.client.social_reason
            %td= policy.product.name
            %td= policy.prime
            %td= policy.comision.to_i.to_s + '%'
            %td= policy.payment_type
            %td= policy.format_start_date
            %td= policy.format_end_date
            %td= policy.sale_executive.name
